.admins-page {
  padding: 24px;
  background-color: #f3f4f6;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

/* Title */
.page-title {
  font-size: 32px;
  font-weight: bold;
  color: #6c3483;
  margin-bottom: 24px;
}

/* Search */
.search-input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #c4b5fd;
  margin-bottom: 24px;
}

/* Form */
.form-card {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 32px;
}

.form-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-bottom: 16px;
}

.form-grid input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  width: 90%;
}

/* Buttons */
.add-btn-admin {
  background-color: #6c3483;
  color: #fff;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 150px;
  display: block;
  margin: auto;

}

.add-btn-admin:hover {
  background-color: #5b2c6f;
}

/* Admin cards */
.admins-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}

.admin-card {
  background: linear-gradient(to right, #ede9fe, #ddd6fe);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.admin-card h3 {
  margin-bottom: 6px;
  color: #4c1d95;
}

.admin-card p {
  margin-bottom: 4px;
  color: #5b21b6;
}

/* Delete button */
.delete-btn {
  background-color: #ef4444;
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  width: 90px;
}

.delete-btn:hover {
  background-color: #dc2626;
}

.delete-btn.disabled {
  background-color: #fca5a5;
  cursor: not-allowed;
}
