.categories-container {
  padding: 20px;
  background-color: #f5f0fa;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.add-btn {
  background-color: #6c3483;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.search {
  width: 900px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #6c3483;
  margin-bottom: 10px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  align-items: center;
  background-color: #6c3483;
  padding: 12px;
  border-radius: 15px;
  gap: 10px;
  width: 900px;


}

.card-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.edit-btn {
  background-color: #6c3483;
  border: none;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  width: 100px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  max-width: 90%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  z-index: 100;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal h3 {
  color: #6c3483;
  margin-bottom: 15px;
}

.modal input[type="text"],
.modal input[type="file"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #6c3483;
}

.modal-buttons {
  display: flex;
  gap: 10px;
}

.save-btn-category {
  flex:1;
  background-color: green;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.cancel-btn-category {
  flex:1;
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer ;
}