.change-container {
  min-height: 100vh;
  background: linear-gradient( #fcf4fcff, #94469dff);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-btn {
  position: absolute;
  top: 30px;
  left: -500px;
  background: none;
  border: none;
  color: #94469dff;
  cursor: pointer;
}

.change-card {
  width: 380px;
  background: #f5f0fa;
  border-radius: 25px;
  padding: 25px;
  box-shadow: 0 6px 15px rgba(55, 4, 58, 0.2);
}

.change-card h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #6a5c7b;
}

.change-card input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 12px;
  border: 1px solid #ddd;
  background: #f1ebf6ff;
  font-size: 15px;
}

.change-card input:focus {
  outline: none;
  border-color: #750d83ff;
}

.update-btn {
 width: 200px !important;
  margin: 20px 85px  !important;
  padding: 12px;
  background: #750d83ff;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.update-btn:hover {
  opacity: 0.9;
}
