.contact-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #fcf4fcff, #94469dff);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
}
.contact-container h2 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
  text-shadow: 0 4px 8px rgba(117, 13, 131, 0.3);
  margin-top: -20px;
}

.contact-desc {
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 25px;
  padding: 0 10px;
   text-shadow: 0 4px 8px rgba(117, 13, 131, 0.3);
}



/* CARD BUT FULL PAGE FEEL */
.contact-card {
  background: white;
  width: 100%;
  max-width: 520px;
  min-height: 85vh;
  border-radius: 30px;
  padding: 40px 30px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(55, 4, 58, 0.3);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* IMAGE */
.contact-img {
  width: 130px;
  height: 130px;
  margin: 0 auto 20px;
}

/* TITLE */
.contact-card h2 {
  color: #37043a;
  font-size: 28px;
  margin-bottom: 25px;
}

/* INPUT ROW */
.input-row {
  display: flex;
  align-items: center;
  background: #f5f0fa;
  border-radius: 18px;
  padding: 14px 16px;
  margin-bottom: 16px;
}

.input-row svg {
  font-size: 20px;
  margin: 15px;
  color: #6a5c7b;
}

.input-row input,
.input-row textarea {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 16px;
  color: #37043a;
}

/* TEXTAREA */
.textarea {
  align-items: flex-start;
}

.textarea textarea {
  height: 100px;
  resize: none;
}

/* BUTTON */
.submit-btn {
  margin-top: 10px;
  padding: 14px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background: linear-gradient(90deg, #750d83ff, #b57edcff);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.submit-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(117, 13, 131, 0.4);
}

/* SOCIAL ICONS */
.social-row {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 32px;
  color: #3b2d4bff;
}

/* RESPONSIVE */
@media (max-width: 480px) {
  .contact-card {
    min-height: auto;
    padding: 30px 20px;
  }

  .contact-img {
    width: 110px;
    height: 110px;
  }
}
