.layout {
  display: flex;
  min-height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.sidebar {
  width: 200px;
  background-color: #6c3483;
  color: white;
  padding: 20px; 
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.sidebar a:hover {
  color: #94469dff;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f5f0fa;
}
