body{
  font-family: 'Times New Roman', Times, serif;
}
.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( #fcf4fcff, #94469dff);
}

.auth-card {
  width: 420px;
  background: #f5f0fa;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 10px 30px rgba(55, 4, 58, 0.25);
  text-align: center;
}


.logo {
  width: 90px;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border-radius: 12px;
  border: none;
  background: #ede9fe;
}

button {
  margin-top: 15px;
  background: #750d83ff;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.switch {
  margin-top: 12px;
  color: #6a5c7b;
  cursor: pointer;
}

.interests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  margin: 12px auto;
}

.interest {
  padding: 10px;
  background: #ede9fe;
  border-radius: 15px;
  cursor: pointer;
}

.interest.active {
  background: #94469dff;
  color: white;
  border-radius: 25;
}

.interest img {
  width: 40px;
}

.images img {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  margin: 5px;
}
.provider-check {
  display: inline-flex;   
  align-items: center;
  gap: 6px;
  margin: 10px 0;
  cursor: pointer;
  white-space: nowrap;
}
.provider-check input {
  transform: scale(1.2);
  accent-color: #750d83ff;
  margin: 0;
  padding: 0;
}
.upload-btn {
  display: inline-block;
  background: #94469dff;
  color: #222;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
.float-input {
  position: relative;
}

.float-input span {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  pointer-events: none;
  transition: 0.3s;
}

.float-input input:focus + span,
.float-input input:valid + span {
  top: -8px;
  font-size: 12px;
  color: #555;
}
/* Chrome, Edge, Safari */
input[type="date"] {
  color: transparent;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #fff; 
}

input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #000;
}

/* Placeholder */
input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #8b8b8b;

}
