/* Page */
.faq-container {
  min-height: 100vh;
  background: linear-gradient(180deg, #fcf4fc, #bd88c3);
  padding: 25px 16px;
}

/* Wrapper */
.faq-scroll {
  max-width: 900px;
  margin: auto;
}

/* Header */
.faq-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.faq-header h1 {
  font-size: 26px;
  color: #750d83;
  font-weight: 800;
}

/* Card */
.faq-card {
  width: 100%;
  background: #f8f4fc;
  border-radius: 24px;
  padding: 18px 20px;
  margin-bottom: 18px;
  cursor: pointer;
  box-shadow: 0 6px 14px rgba(117, 13, 131, 0.15);
  transition: all 0.3s ease;
}

/* Hover */
.faq-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 22px rgba(117, 13, 131, 0.25);
}

/* Open */
.faq-card.open {
  background: #fef8ff;
  border: 2px solid #d9bce8;
}

/* Question */
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #750d83;
  font-size: 17px;
  font-weight: 700;
}

/* Icon */
.icon {
  font-size: 22px;
  color: #6a5c7b;
  transition: transform 0.3s ease;
}

.icon.rotate {
  transform: rotate(180deg);
  color: #37043a;
}

/* Answer */
.faq-answer {
  margin-top: 14px;
  padding-top: 14px;
  border-top: 1px solid #c9b7e2;
  font-size: 16px;
  color: #90339c;
  line-height: 1.6;
  font-weight: 600;
}

/* Contact */
.contact-section {
  margin-top: 45px;
  text-align: center;
}

.contact-section p {
  color: #fef9ff;
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 600;
}

.contact-section button {
  padding: 13px 34px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: linear-gradient(90deg, #965296, #6e3975);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 5px 12px rgba(117, 13, 131, 0.25);
  transition: transform 0.2s ease;
}

.contact-section button:hover {
  transform: scale(1.05);
}
